<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.njz.letsgoappguides">

    <!-- 环信 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <!-- jpush start -->
    <!-- Required -->
    <permission
        android:name="com.njz.letsgoappguides.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.njz.letsgoappguides.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.TYPE_APPLICATION_OVERLAY" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- jpush end -->

    <uses-permission android:name="android.permission.INTERNET" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <!-- 存储权限 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />

    <!-- bugly -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name=".Myapp"
        android:allowBackup="true"
        android:icon="@mipmap/guide_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Notitle">
        <activity
            android:name=".ui.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.MainActivity"
            android:launchMode="singleTask"/>

        <!-- 登录 start -->
        <activity android:name=".ui.activites.LoginActivity" />
        <activity android:name=".ui.activites.RegisterActivity" />
        <activity android:name=".ui.activites.CodeLoginActivity" />
        <activity android:name=".ui.activites.ForgotPsdActivity" />
        <!-- 登录 end -->


        <!-- 我的 start -->
        <activity android:name=".ui.activites.mine.MyEvaluationActivity" />
        <activity android:name=".ui.activites.mine.OrderDetailIncomeActivity" />
        <activity android:name=".ui.activites.mine.OrderDetailRefundsActivity" />
        <activity android:name=".ui.activites.mine.BigImageActivity" />
        <activity android:name=".ui.activites.mine.SettlementOrderActivity" />
        <activity android:name=".ui.activites.mine.ContactUsActivity" />
        <activity android:name=".ui.activites.mine.ContactUsContentActivity" />


        <activity android:name=".ui.activites.mysetting.PersonalActivity" />
        <activity android:name=".ui.activites.mysetting.SettingActivity" />
        <activity android:name=".ui.activites.mysetting.SetPhoneActivity" />
        <activity android:name=".ui.activites.mysetting.UpdataPsdActivity" />
        <activity android:name=".ui.activites.mysetting.FeedbackActivity" />
        <activity android:name=".ui.activites.mysetting.SettingAboutusActivity" />
        <activity android:name=".ui.activites.mysetting.AuthenticationActivity" />
        <activity android:name=".ui.activites.mysetting.CarAuthenticationActivity" />
        <activity android:name=".ui.activites.mysetting.GuideAuthenticationActivity" />
        <activity android:name=".ui.activites.mysetting.LabelActivity" />
        <activity android:name=".ui.activites.mysetting.GuideContractActivity" />
        <activity android:name=".ui.activites.mysetting.OperationGuideActivity" />
        <activity android:name=".ui.activites.mysetting.PresonalViewActivity" />
        <!-- 我的 end -->


        <!-- 首页 订单 start -->
        <activity android:name=".ui.activites.home.OrderListActivity" />
        <activity android:name=".ui.activites.home.OrderListTabActivity" />
        <activity android:name=".ui.activites.home.OrderDetailActivity" />
        <activity android:name=".ui.activites.home.OrderListRefundActivity" />
        <activity android:name=".ui.activites.home.OrderRefuseActivity" />
        <activity android:name=".ui.activites.home.OrderDetailRefundActivity" />
        <activity android:name=".ui.activites.home.OrderRefundActivity" />
        <activity android:name=".ui.activites.home.RefundRuleActivity" />

        <!-- 首页 订单 end -->

        <activity android:name=".ui.activites.mine.MyIncomeActivity" />
        <activity android:name=".ui.activites.mine.BindIdcarActivity" />

        <!-- 消息 start -->
        <activity android:name=".ui.activites.message.SystemMsgActivity" />
        <activity android:name=".ui.activites.message.NotifySettingActivity" />
        <!-- 消息 end -->


        <!-- IM -->
        <activity android:name=".ui.im.ChatActivity" />
        <activity android:name=".ui.im.ChatListActivity" />
        <activity
            android:name=".ui.activites.service.AddServicesActivity"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity android:name=".ui.activites.service.ServicesFeatureActivity" />
        <activity android:name=".ui.activites.service.ServiceTypeActivity" />
        <activity
            android:name=".ui.activites.service.ServicePreviewActivity"
            android:label="@string/title_activity_service_preview"
            android:theme="@style/AppTheme.Notitle" />
        <activity android:name=".ui.activites.service.CalendarActivity" />
        <activity android:name=".ui.activites.service.PriceCalendarActivity" />
        <activity android:name=".ui.activites.mysetting.PersonalStoryActivity" />
        <activity android:name=".ui.activites.home.OrderDesingnSchemeActivity" />
        <activity android:name=".ui.activites.home.RangeCalendarActivity" />
        <activity android:name=".ui.activites.home.CustomPlanActivity" />
        <activity android:name=".ui.activites.other.WebViewActivity" />

        <!-- 图片选择 start -->
        <activity
            android:name="me.iwf.photopicker.PhotoPickerActivity"
            android:theme="@style/customTheme" />
        <!-- 大图 -->
        <activity
            android:name="me.iwf.photopicker.PhotoPagerActivity"
            android:theme="@style/customTheme" />

        <!-- 图片选择 end -->


        <!-- bugly 升级 start -->
        <activity
            android:name="com.tencent.bugly.beta.ui.BetaActivity"
            android:configChanges="keyboardHidden|orientation|screenSize|locale"
            android:theme="@android:style/Theme.Translucent" />

        <provider
            android:name=".util.BuglyFileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true"
            tools:replace="name,authorities,exported,grantUriPermissions">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"
                tools:replace="name,resource" />
        </provider>

        <!-- bugly 升级 end -->


        <!-- 友盟 start -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="6f23bc1571bba6ee88e1a26a" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />
        <!-- 友盟 end -->


        <!-- jpush start -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="com.njz.letsgoappguides.DataProvider"
            android:exported="true" />

        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.njz.letsgoappguides" />
            </intent-filter>
        </service>

        <provider
            android:name="cn.jpush.android.service.DownloadProvider"
            android:authorities="com.njz.letsgoappguides.DownloadProvider"
            android:exported="true" />

        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />

                <category android:name="com.njz.letsgoappguides" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar">
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.njz.letsgoappguides" />
            </intent-filter>
        </activity>
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@style/MyDialogStyle">
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.njz.letsgoappguides" />
            </intent-filter>
        </activity>

        <service
            android:name="cn.jpush.android.service.DownloadService"
            android:enabled="true"
            android:exported="false" />

        <receiver android:name="cn.jpush.android.service.AlarmReceiver" />
        <receiver
            android:name=".util.jpush.MyJPushMessageReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.RECEIVE_MESSAGE" />

                <category android:name="com.njz.letsgoappguides" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".util.jpush.MyReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>

                <!-- Required 用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.REGISTRATION" />
                <!-- Required 用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" />
                <!-- Required 用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" />
                <!-- Required 用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" />
                <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <action android:name="cn.jpush.android.intent.CONNECTION" />

                <category android:name="com.njz.letsgoappguides" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="6f23bc1571bba6ee88e1a26a" />
        <!-- jpush end -->


        <!-- 环信 start -->
        <!-- 声明SDK所需的service SDK核心功能 -->
        <service
            android:name="com.hyphenate.chat.EMChatService"
            android:exported="true" />
        <service
            android:name="com.hyphenate.chat.EMJobService"
            android:exported="true"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <activity
            android:name="com.hyphenate.easeui.ui.EaseShowBigImageActivity"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" />
        <!-- 环信 end -->

        <activity android:name=".ui.Splash2Activity"></activity>

    </application>

</manifest>